<h2><%= @user.name %></h2>

<h3>Created Events</h3>
<ol>
<% @created_events.each do |event| %>
  <li><%= event.name %></li>
<% end %>
</ol>

<h3>Upcoming Events</h3>
<ol>
<% @upcoming_events.each do |event| %>
  <li><%= event.name %></li>
<% end %>
</ol>

<h3>Previous Events</h3>
<ol>
<% @previous_events.each do |event| %>
  <li><%= event.name %></li>
<% end %>
</ol>
