<h1> <%= @event.name %> </h1>

<div>
  <p><strong>Description</strong>: <%= @event.desc %></p>
  <p><strong>Date</strong>: <%= @event.date %></p>
  <p><strong>Event Creator</strong>: <%= @event.creator.name %></p>
</div>